body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  background-color: #1f2937;
  display: flex;
  padding: 0 200px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

nav * {
  text-decoration: none;
  list-style-type: none;
  font-size: 18px;
  font-weight: 700;
  color: #e5e7eb;
}

nav ul {
  display: flex;
  gap: 24px;
}

.introduction {
  background-color: #1f2937;
  padding: 80px 200px;
  display: flex;
  flex-shrink: 0;
}

h1 {
  margin: 0;
  color: #f9faf8;
  font-size: 48px;
}

.introduction p {
  color: #e5e7eb;
  font-size: 18px;
}

button {
  color: white;
  background-color: #3882f6;
  font-size: 16px;
  padding: 8px 30px;
  border-radius: 10px;
  border: 2px solid #3882f6;
  box-sizing: border-box;
  font-weight: bold;
}

.introduction img {
  margin-left: 80px;
  width: 500px;
  height: 250px;
}

h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 50px;
}

.info {
  text-align: center;
  padding: 60px 200px;
}

.card img {
  border: 3px solid #3882f6;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  margin: 0;
}

.card {
  width: 180px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 35px;
}

blockquote {
  background-color: #e5e7eb;
  font-size: 26px;
  font-weight: 300;
  font-style: italic;
  padding: 120px 300px;
  margin: 0;
}

cite {
  display: block;
  text-align: right;
  font-style: normal;
  font-weight: 400;
  margin-right: 50px;
}

.sign-up {
  display: flex;
  border: 1px solid #3882f6;
  background-color: #3882f6;
  color: white;
  border-radius: 8px;
  margin: 100px 180px;
  justify-content: space-between;
  align-items: center;
  padding: 30px 150px;
}

.sign-up button {
  border-color: white;
}

.sign-up p {
  color: #e0e0e0;
  margin-top: 0;
}

h3 {
  margin-bottom: 0;
}
